.rendu {
  color:green;
}

.nonrendu {
  color:red;
  background-color: yellow;
  border:2px dashed orange;
}

.container {
  display:flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
}

.container2 {
  display:flex;
  flex-direction: row;
}
